[Unit]
Description=Cysic Verifier Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/cysic-verifier
ExecStart=/bin/bash start.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
